@import "src/assets/scss/common";

.shift-inprogress {
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 2px !important;
  }
  .MuiPaper-elevation1 {
    box-shadow: none !important;
  }
  .filter-icon {
    font-size: 2rem;
    color: $light-black;
  }
  .last-row {
    border-radius: 0px 5px 5px 0px;
  }
  .first-row {
    border-radius: 5px 0px 0px 5px;
  }
}
