.pending-hcps-list{
    .text-right{
        text-align: right !important;
        padding-right: 40px !important;
    }
    .action-wrapper{
        margin: auto;
        .actions{
            margin-right: 20px !important;
        }
    }
}
