@import "src/assets/scss/common";

.facility-list {
  .MuiPaper-elevation1 {
    box-shadow: none !important;
  }
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 2px !important;
  }
  .filter-icon {
    font-size: 2rem;
    color: $light-black;
  }

  .text-right {
    text-align: right !important;
    padding-right: 20px !important;
  }
  .last-row {
    border-radius: 0px 5px 5px 0px;
  }
  .first-row {
    border-radius: 5px 0px 0px 5px;
  }
  .table-row-wrapper {
    overflow: scroll !important;
    height: 300px !important;
  }
}
